* {
    text-align: center;
}

h4 {
    font-size: 20px;
    text-align: center;
}

#words {
    width: 35%;
    max-width: 800px;
    display: block;
    padding: 20px;
    margin: 0 auto;
}

#person_info {
    padding: 10px;
    width: 35%;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; /* issue with the way name and email show up using at around 460px - it's because it's not part of the flexbox*/
}


#send {
    margin-top: 20px;  
    margin-bottom: 20px; 
    color: rgb(0, 0, 0);
    background-color: rgb(191, 191, 191);
    padding: 3px;
}